# =========== CONFIG ENVIOREMENT VARIABLES ===========
# DATABASE 
DB_USERNAME=postgres
DB_PASSWORD=your_db_password
DB_NAME=your_db_database

# ENVIRONMENT
NODE_ENV=development
CHOKIDAR_USEPOLLING=true
CHOKIDAR_INTERVAL=1000

# REDIS 
REDIS_PASSWORD=872364823adw

# =========== BACKEND ENVIOREMENT VARIABLES ===========
# SERVER
PORT=8000

# DATABASE
DATABASE_URL=postgresql://postgres:development_db_password@localhost:5432/database

# BETTER AUTH
BETTER_AUTH_URL=http://localhost:8000
BETTER_AUTH_SECRET=your-secret-key-change-this


# =========== FRONTEND ENVIOREMENT VARIABLES ===========
# Backend connection
API_URL=http://backend:8000/api
NEXT_PUBLIC_API_PREFIX=/api
