# =========== CONFIG ENVIOREMENT VARIABLES ===========
# DATABASE 
DB_USERNAME=postgres
DB_PASSWORD=your_db_password
DB_NAME=your_db_database

# REDIS 
REDIS_PASSWORD=your_redis_password

# DOMAIN
DOMAIN='your-domain.com'

# =========== BACKEND ENVIOREMENT VARIABLES ===========
# BACKEND ENVIRONMENT
NODE_ENV=development
CHOKIDAR_USEPOLLING=true
CHOKIDAR_INTERVAL=1000

# SERVER
BACKEND_PORT=8000

# DATABASE
DATABASE_URL=postgresql://username:password@localhost:5432/mydatabase

# CACHE
REDIS_URL=redis://:my_secure_password@localhost:6379/0

# BETTER AUTH
JWT_SECRET=your-secret-key-change-this

# FRONTEND CONNECTION
FRONTEND_URL=http://backend:3000


# =========== FRONTEND ENVIOREMENT VARIABLES ===========
# FRONTEND ENVIOREMENT
FRONTEND_PORT=3000
NODE_ENV=development

# BACKEND CONNECTION
API_URL=http://backend:8000/api
NEXT_PUBLIC_API_PREFIX=/api